{% extends "main.html" %}
{% load static %}
 {% block extra_css %}
<link rel="stylesheet" href="{% static "css/reg.css" %}">
{% endblock extra_css %}
{% block content %}

<div class="wrap">
    <form action="#" method="POST">
        <h1>Register</h1>
        <div class="reg">
            {% csrf_token %}
            <input type="text" placeholder="firstname" name="firstname" required>   
      
            <input type="text" placeholder="lastname" name="lastname"  required>  
       
            <input type="text" placeholder="username" name="username"  required>   
      
            <input type="email" placeholder="Email" name="email"  required>   
      
            <input type="password" placeholder="Password" name="password"  required>
        </div>
        <button  type="submit" class="btn">Sign Up</button>
        <div class="reg-link">
            <p>Do you have a account ? <a href="{% url "login" %}" style='color:blue;'>Login</a></p>
        </div>
        
    </form>
</div>
{% endblock content %}