{% load static %}

<nav>
    <div class="container">
        <ul class="nav-links">
            <li><a href="{% url "index" %}">Home</a></li>
            <li><a href="{% url "about" %}">About</a></li>
            <li><a href="{% url "admin" %}">Admin</a></li>
            {% if request.user.is_authenticated %}
                <li><a  href="{% url "logout" %}">logout</a></li>
            {% else %}
            <li><a id="" href="{% url "register" %}">Register</a></li>
            <li><a href="{% url "login" %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

