{% extends "main.html" %}
{% load static %}
{% block content %}
    <div class="table-responsive">
        <div class="">         
              <table class="table">
                <tr class="table-dark">
                    <td><p>Details</p></td> 
                    <td><p>Prices</p></td>                    
                    
                </tr>
            {% for i in items  %}
                <tr>
                    <td><p>{{i.gst}}</p></td>                  
                    <td><p>{{i.total}}</p></td>
                </tr> 
            {% endfor %}
            <tfoot class="table">
                <td><p>Total</p></td>
                <td><p>{{total}}</p></td>                
            </tfoot>
            <tfoot class="table">
                <td><p>GST</p></td>               
                <td><p>{{gst}}</p></td>
            </tfoot> 
        </div>
    </div>
</div>

{% endblock content %}