{% extends "main.html" %}
{% load static %}
{% block content %}
<div>
    <div class="col">
        <div class="container-fluid">         
            <table class="table table-responsive ">
                    <tr class="table-dark">
                        <td><p>Details</p></td> 
                        <td><p>Prices</p></td>                    
                        
                    </tr>
                {% for i in items  %}
                    <tr>
                        <td><p>{{i.gst}}</p></td>                  
                        <td><p>{{i.total}}</p></td>
                    </tr> 
                {% endfor %}
                <tfoot class="table">
                    <td><p>Total</p></td>
                    <td><p>{{total}}</p></td>                
                </tfoot>
                <tfoot class="table">
                    <td><p>GST</p></td>               
                    <td><p>{{gst}}</p></td>
                </tfoot> 
            </table>
        </div>
    </div>
    <div class="col">
        <p>Pay Now</p>
            <form method="POST" class='form'>
                <div class="mb-2" style="width:100%">
                    <input  class="mb-2" type="text" placeholder="firstname" name="firstname">
                    <input type="text" placeholder="lastname" name="lastname">
                </div>
                <div class="mb-2" style="width:100%">
                    <textarea style="width:100%" name="address" placeholder="address"></textarea> 
                </div>
                <div>
                    <button type="submit">save and proceed</button>
                </div>
            </form>
    </div>
</div>

{% endblock content %}