{% extends "main.html" %}
{% load static %}
{% block content %}
<div class="container" style="height:100vh;margin:70px 0;">
    <div class="row mt-5">
        <div class="col">
            <div class="d-flex ">
            <p><b>Cart Summary</b></p>
            <a class='px-4'href="{% url "cart" %}">Edit</a>
            <a href="{% url "buynow" %}">Buynow</a>
            </div> 
            <table class="table">
                <tr class="table-dark">
                    <td><p>name</p></td>
                    <td><p>quantity</p></td>
                    <td><p>Total price</p></td>
                </tr>
            {% for product in cart_products  %}
                <tr>
                    <td><p>{{product.name}}</p></td>
                    <td><p>{{product.quantity}}</p></td>
                    <td><p>{{product.total_price}}</p></td>
                </tr> 
            {% endfor %}
            <tfoot class="table-info">
                <td><p>subtotal</p></td>
                <td><p>{{total_quantity}}</p></td>
                <td><p>{{product_total}}</p></td>
            </tfoot>
            </table>
        </div>
        
    </div>
</div>
{% endblock content %}