{% extends "main.html" %}
{% load static %}
{% block title %} 
    <title>Description page</title>
{% endblock title %}

{% block content %}
    <div class="container" style="width:100hh;height:100vh">
        <div class="row align-items-center justify-content-center" style="height:100vh">
            <div class="col-sm-12 col-md-6">
                <img style="width:80%;height:60vh;" src="{{product.image.url}}" alt="product">
            </div>
            <div class="col-sm-12 col-md-6">
                <h1>{{product.name}}</h1>
                <p>{{product.desc}}</p>
                <p>Rs {{product.price}} /-</p>

                <a class="btn btn-success" href="{% url "addtocart" product.id %}">Add to cart</a>
                <a class="btn btn-warning" href="ur">Buy Now</a>
            </div>
        </div>
    </div>
    
{% endblock content %}