*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:whitesmoke;
}
nav {
    display: flex;
    background-color: rgba(160,164,164,0.5);
    align-items: center;
    padding: 10px 20px 10px 0px;
    position: fixed;
    top: 0px;
    width: 100%;
}
.container {
    width: 10rem;
    margin-left: 30px;
}
.nav-links{
    display: flex;
    list-style-type: none;
    margin-left: 850px;
    gap: 20px;
}
.nav-links a{
    text-decoration: none;
    color: white;
}
.reg{
    display: inline-block;
    justify-content: center;
}
.reg input{
    display: grid;
    gap: ;
}